
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/logo.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form (ngSubmit)= "onLogin(loginForm.value)" [formGroup]="loginForm">
      <input type="text" id="login" class="fadeIn second"  placeholder="login" formControlName="nombre"
      [ngClass] = "{
       'is-invalid':isValidField('nombre')
     }"
       >
      <div class="invalid-feedback">

       <span *ngIf="loginForm.get('nombre')?.errors?.required">
         Lo siento, ese nombre de usuario es vacío. ¿Prueba otro?
       </span>
       <span *ngIf="loginForm.get('nombre')?.errors?.minlength">
         el NickName debe tener un minimo {{loginForm.get('nombre')?.errors?.minlength?.requiredLength}}
         caracteres
       </span>
       </div>

      <input type="password" id="clave" class="fadeIn third"  placeholder="clave" formControlName="clave"
      [ngClass] = "{
       'is-invalid':isValidField('clave')
     }"
       >
      <div class="invalid-feedback">

       <span *ngIf="loginForm.get('clave')?.errors?.required">
         Lo siento, campo no puede ser  vacío. ¿Prueba otro?
       </span>
       <span *ngIf="loginForm.get('clave')?.errors?.minlength">
         la Clave debe tener un minimo {{loginForm.get('clave')?.errors?.minlength?.requiredLength}}
         caracteres
       </span>
       </div>

      <input type="submit" class="fadeIn fourth" value="Iniciar Sesión">
    </form>

    <!-- Remind Passowrd -->
    <div class="alert alert-danger" *ngIf="errorState">
<span>{{errorMessage}}</span>
  </div>

  </div>
</div>

